<!DOCTYPE html>
<html>
  <!-- 开发环境版本，包含了有帮助的命令行警告 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>

  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="watch-example">
      <p>
        Ask a yes/no question:
        <input v-model="question">
      </p>
      <p>{{ answer }}</p>
      <!-- key属性 -->
      <template v-if="loginType === 'username'">
        <label>Username</label>
        <input placeholder="Enter your username" key="username-input">
      </template>
      <template v-else>
        <label>Email</label>
        <input placeholder="Enter your email address" key="email-input">
      </template>
      <button v-on:click="changeEmail">Toggle login type</button>
      <ul>
        <li v-for="item in items">{{ item.message }}</li>
      </ul>
      <div v-for="(value, key,index) in object">
        {{index}}.{{ key }}: {{ value }}
      </div>
      <button v-on:click="say('hi')">Say hi</button>
      <button v-on:click="say('what')">Say what</button>
      <!-- 阻止单击事件继续传播 -->
      <a v-on:click.stop="doThis">doThis</a>

      <!-- 提交事件不再重载页面 -->
      <form v-on:submit.prevent="onSubmit"></form>

      <!-- 修饰符可以串联 -->
      <a v-on:click.stop.prevent="doThat"></a>

      <!-- 只有修饰符 -->
      <form v-on:submit.prevent></form>

      <!-- 添加事件监听器时使用事件捕获模式 -->
      <!-- 即元素自身触发的事件先在此处理，然后才交由内部元素进行处理 -->
      <div v-on:click.capture="doThis">...</div>

      <!-- 只当在 event.target 是当前元素自身时触发处理函数 -->
      <!-- 即事件不是从内部元素触发的 -->
      <div v-on:click.self="doThat">...</div>
      <!-- 点击事件将只会触发一次 -->
      <a v-on:click.once="doThis">只会触发一次</a>
      <!-- 滚动事件的默认行为 (即滚动行为) 将会立即触发 -->
      <!-- 而不会等待 `onScroll` 完成  -->
      <!-- 这其中包含 `event.preventDefault()` 的情况 -->
      <div style="height: 40px;width: 60px;background: yellow;overflow-x:auto;overflow-y: auto;" 
      v-on:scroll.passive="onScroll">发生的发斯蒂芬阿斯达发阿斯达发阿斯达发啊</div>
    </div>
  </body>

  <script>
    var watchExampleVM = new Vue({
      el: '#watch-example',
      data: {
        question: '',
        answer: 'I cannot give you an answer until you ask a question!',
        loginType: 'username',
        items: [{
          message: 'Foo'

        }, {
          message: 'Bar'
        }],
        object: null
      },
      watch: {
        // 如果 `question` 发生改变，这个函数就会运行
        question: function(newQuestion, oldQuestion) {
          this.answer = 'Waiting for you to stop typing...'
          this.debouncedGetAnswer()
        }
      },
      created: function() { 
        // `_.debounce` 是一个通过 Lodash 限制操作频率的函数。
        // 在这个例子中，我们希望限制访问 yesno.wtf/api 的频率
        // AJAX 请求直到用户输入完毕才会发出。想要了解更多关于
        // `_.debounce` 函数 (及其近亲 `_.throttle`) 的知识，
        // 请参考：https://lodash.com/docs#debounce
        this.debouncedGetAnswer = _.debounce(this.getAnswer, 500)
      },
      methods: {
        getAnswer: function() {
          if (this.question.indexOf('?') === -1) {
            this.answer = 'Questions usually contain a question mark. ;-)'
            return
          }
          this.answer = 'Thinking...'
          var vm = this
          axios.get('https://yesno.wtf/api')
            .then(function(response) {
              vm.answer = _.capitalize(response.data.answer)
            })
            .catch(function(error) {
              vm.answer = 'Error! Could not reach the API. ' + error
            })
        },
        changeEmail: function() {
          var vm = this
          vm.loginType = (vm.loginType === 'username' ? 'email' : 'username');
        },
        say: function(message) {
          alert(message)
        },
        doThis: function() {
          alert('doThis')
        },
        doThat: function() {
          alert('doThat')
        },
        onScroll:function(){
          alert('scroll')
        }
      }
    })

    var vm = watchExampleVM.$data
    vm.object = {
      firstName: 'John',
      lastName: 'Doe',
      age: 30
    }
    vm.items.push({
      message: 'Baz'
    })
    watchExampleVM.$set(vm.object, 'newObject', true) // 追加单个
    vm.object = Object.assign({}, vm.object, { // 追加多个属性
      gao: '176cm',
      favoriteColor: 'Vue Green'
    })
  </script>
</html>
